*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Gabarito',sans-serif;
}

.navbar{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.1px black solid;
    gap: 10px;
    align-items: center;
}
.navbar_s1{
    width: 100px;
}
.navbar_s2{
    padding: 10px;
    border: solid black 1px;
    width: 40%;
    height:35px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar_s2 input{
    border: none;
    width:100%;
    font-size: 16px;
}
.navbar_s2 input:focus{
    outline: none;
}

.navbar_s3{
    display: flex;
    font-size: 18px;
    gap: 20px;
    align-items: center;
}
p{
    color: #2A2B40;
    font-size: 17px;
}
#login{
    border: solid #6D29D1 1px;
    height: 50px;
    width: 90px;
    border-radius: 5%;
    color: #6D29D1;
    background-color: white;
}
#signup{
    border: solid #6D29D1 1px;
    height: 50px;
    width: 90px;
    border-radius: 5%;
    color:white;
    background-color: #6D29D1;
}

#globe{
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 8%;
    border: solid #6D29D1 1px;
}

.sale-image img{
    width: 100%;
}

.ad{
    margin: 20px;
    padding: 20px;
    background-color: #202230;
    color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    border-radius: 20px;
}
.ad_img img{
    height: 465px;
    
}
.ad_sec p{
    font-size: 22px;
    padding: 5px;
    color: rgba(253, 252, 252, 0.793);
    margin-top: 10px;
}
.ad_sec{
    width: 50%;
}
.ad_p1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.logo_ad{
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#2A2B40;
    color: white;
    border-bottom: solid white 1px;
    border-top: solid white 1px; 
}
.recommend{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 20px;
}
.recomment_1 h6{
    color: #2A2B40;
    font-weight: lighter;
}
.recomment_1{
    padding: 15px;
    border: gray solid 0.5px;
    width:20%;
    border-radius: 20px;
    

}
.recomment_1 img{
    width:100%;
    height: 150px;
    border-radius: 10px;
}

.small_recomment{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
}
.small_recomment p{
    padding: 3px;
    border: gray solid 0.1px;
    text-align: center;
    border-radius: 5px;
    font-size: 14px;
}
#recommend_p{
    background-color: #C2E9EB;
    color: #0D5261;
}
.logo_card{
    height: 200px;
    background-color:#F6F7F9;
    text-align: center;
    padding-top: 60px;
   
}
.logo_card p{
    color: #5A5C72;
    font-size: 20px;
    font-weight: lighter;


}
.logo_card1{
    height: 80px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.logo_card img{
    height:40px;
}






















.footer{
    display: flex;
    background-color: #2A2B40;
    color: white;
    padding: 40px;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    
}
.footer p{
    margin-top: 10px;
    color: white;
    font-size: 15px;
}
.footer_2 p:hover{
    color: gray;
    text-decoration: underline;
}
.footer_2{
    width: 310px;
}















.container{
    padding:40px;
    background-color: #202230;
    color: white;
    display: flex;
    justify-content: space-between;
}

.container p{
    margin-top: 10px;
    color: white;
    font-size: 15px;
}
.container p:hover{
    color: gray;
    text-decoration: underline;
}
.footer1{
    padding: 20px;
    background-color: #202230;
    height: 70px;
    border-top: solid 0.1px white;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.footer1 p{
    color:#ffffffe3;
    font-weight: lighter;
}
.footer1 img{
    height: 100px;
    width: 100px;
}
#foot_img{
    display: flex;
    align-items: center;
    gap: 15px;
}